/*
 *
 *  IMPORTED GENERAL STYLES
 *
 */

@import "component-styles/fonts.css";
@import "component-styles/header.css";
@import "component-styles/general-task-style.css";
@import "component-styles/assign-left-partition.css";
@import "component-styles/assign-room.css";
@import "component-styles/feedback-message.css";

#assign-room-right-partition
{
    grid-row: 2;
    grid-column: 2;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

/*** ASSIGN ROOM TABLE ***/
#assign-room-table-container
{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding-left: 2.5%;
    padding-right: 15%;
    padding-top: 2%;
}

/* Box Seen in UI */
#assign-room-table-box
{
    margin: 0 auto;
    height: auto;
    width: 100%;
    background: #ffffff;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 15px;
}

#assign-room-table-box hr
{
    width: 95%;
}

#room-assign-table
{
    margin: 0 auto;
    margin-top: 15px;
    border-collapse: collapse;
    font-family: Open Sans;
    font-size: 0.80em;
    //font-weight: bold;
    color: #000000;
    width: 95%;
    border: 2px solid #000;
}

#room-assign-table td 
{
    height: 8px;
    width: 100px;
    border-right: 2px solid black;
    border-bottom: 1px solid gray;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}

#room-assign-table .room-table-header 
{
    border-bottom: 2px solid black;
}

#room-assign-table tr:first-child td 
{
    padding: 5px;
}

#room-assign-table tr:first-child td:not(:nth-child(1)) 
{
    width: 25px;
}

#room-assign-table .room-table-unavailable
{
    background-color: #d3d3d3;
}