/*
 *
 *  IMPORTED GENERAL STYLES
 *
 */

@import "component-styles/fonts.css";
@import "component-styles/header.css";
@import "component-styles/general-task-style.css";
@import "component-styles/assign-left-partition.css";
@import "component-styles/feedback-message.css";

/*** ASSIGN FACULTY TABLE ***/
#assign-faculty-table-container
{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding-left: 2.5%;
    padding-right: 15%;
    padding-top: 2%;
}

/* Box Seen in UI */
#assign-faculty-table-box
{
    margin: 0 auto;
    height: auto;
    width: 100%;
    background: #ffffff;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 15px;
}

#assign-faculty-table-box hr
{
    width: 95%;
}

/*** Faculty Assignment ***/
#faculty-assign-table
{
    margin: 0 auto;
    margin-top: 15px;
    border-collapse: collapse;
    border: 1px solid #2b2b2b;
    width: 95%;
}

#faculty-assign-table tr
{
    height: auto;
}

#faculty-assign-table td
{
    padding: 0.5em;
    width: 20%;
    border: 1px solid #2b2b2b;
    cursor: pointer;
}

.faculty-assign-img
{
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    padding: 0;
}

.faculty-assign-name
{
    font-family: Gotham-Black;
    font-size: 0.85em;
    color: #2b2b2b;
}

.faculty-assign-details
{
    font-family: OpenSans-Regular;
    font-size: 0.75em;
    color: #2b2b2b;
}

.faculty-table-selected
{
    background: #00ba72;
}

.faculty-table-selected p,
.faculty-table-selected span
{
    color: #ffffff;
}

.faculty-assign-units-green
{
    font-weight: 700;
    color: #00ba72;
}

.faculty-assign-units-orange
{
    font-weight: 700;
    color: #ffa500;
}

.faculty-assign-units-red
{
    font-weight: 700;
    color: #e71d36;
}