/*
 *
 *  IMPORTED GENERAL STYLES
 *
 */

@import "component-styles/fonts.css";
@import "component-styles/general-page-style.css";
@import "component-styles/header.css";
@import "component-styles/menu-sidebar.css";
@import "component-styles/collab-sidebar.css";

/* WORKSPACE HISTORY CONTAINER */
#workspace-history
{
    grid-row: 2;
    grid-column: 2;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}