html,body
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body{
	font-family: Arial;
	background-color:#e2e2e2;
}
#main_content{
	width: 100%;
}
#input_search_course{
	background-color: white;
}
#submit_left_side_search{
	position: absolute;
	box-shadow: none;
	border:0;
	background-color:white;
	top:24%;
	right:5;
}
#left_side{
	background-color: #252525;
	width:20%;
	height:100%;
	position:absolute;
	z-index: 3;
	left: 0;
}
#left_side_content{
	position:relative;
	top: 40;
	left:30;
	width:80%;
	font-size: 14px;
	border-bottom:1px solid #e1e1e1;
}
.left_side_rows{
	color:white;
}
.left_side_rows > td{
	padding-bottom: 1em;
}
.left_side_text{
	height:8px;
}
.left_side_select{
	margin-bottom:-5px;
	height:25px;
	width: 100%;
	-webkit-border-radius:7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.left_side_select:first-child{
	background-color:#3cb878;
	color:white;
}
.class_days{
	background:none;
	border:none;
	margin-left:5px;
	color: #3cb878;
	font-weight:bold;
}
.class_days:last-child, .class_days:first-child{
	color:#ed1c24;
}
#left_button_holder{
	position:relative;
	top: 70;
}
.left_buttons{
	height:40px;
	font-size:14px;
	font-weight:bold;
	color:#252525;
	background-color:#e1e1e1;
	text-align:justify;
	width:80%;
	box-shadow: none;
	border:0;
	margin-top:10px;
}
#header{
	width: 100%;
	height:10%;
	background-color: #3cb878;
	z-index: 2;
	position: relative;
	top:0;
	left: 0;
}
#smaller_header{
	width: 80%;
	height:5%;
	background-color: #e2e2e2;
	border-bottom: 1px solid black;
	z-index: 1;
	position: relative;
	top:0;
	left: 20%;
}
#system_title{
	text-align:center;
	color:white;
	font-size:25px;
	position:relative;
	font-weight:bold;
	top:15;
}
#user_icon{
	position:absolute;
	top:20;
	right:100;
	color:white;
	font-weight:bold;
	text-decoration:none;
}
#total_load{
	position: absolute;
	left:60%;
	color:black;
	text-decoration:none;
	top:-10;

}
#last_edited{
	position:absolute;
	left:10;
	top:-5;
	font-size:14px;
}
#modify_offering{
	position: absolute;
	left:83%;
	top:-5;
	font-weight:bold;
	color:black;
	font-size:13px;
}
#main_content{
	height: 85%;
	width: 60%;
	margin-left:25%;
}
#generated_list{
	width:80%;
	border-collapse: collapse;
	overflow: auto;
}
#generated_list th{
	padding: 25px;
	font-size:14px;
}
#generated_list tr:first-child{
	background-color:#e2e2e2;
}
#generated_list tr{
	background-color:white;
	height: 30px;
	overflow: auto;
}
#generated_list td{
	text-align:center;
	font-size:14px;

}
#right_side{
	background-color:#e2e2e2;
	width:20%;
	height:100%;
	position: absolute;
	top:0;
	right:0;
	z-index: 0;
	border-left:1px solid black;
}
#area_concerns{
	width:150px;
	height:100px;
	resize: none;
}
#table_area{
	position: relative;
	top:20%;
	left:55;
}
#button_submit_concerns{
	background-color:#3cb878;
	height:25px;
	width:60px;
}
#button_cancel_concerns{
	background-color:#979797;
	height:25px;
	width:60px;
}
#concerns_right{
	position: relative;
	top:20%;
	left:45;
	font-size:12px;
	padding: 5px;
	border-spacing: 10px;
}
#right_side button{
	box-shadow: none;
	border:0;
	font-weight:bold;
	color:white;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}