html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
	font-family: Arial;
	background-color:#e2e2e2;
}
#input_search_course{
	background-color: white;
}
#submit_left_side_search{
	position: absolute;
	box-shadow: none;
	border:0;
	background-color:white;
	top:24%;
	right:5;
}
#header{
	width: 100%;
	height:10%;
	background-color: #3cb878;
	position: relative;
	top:0;
	left: 0;
}
#smaller_header{
	width: 100%;
	height:5%;
	background-color: #3cb878;
	position: absolute;
	bottom:0;
	left: 0;
}
#system_title{
	text-align:center;
	color:white;
	font-size:25px;
	position:relative;
	font-weight:bold;
	top:15;
}

#main_content{
	height: 100%;
    width: 100%;
}

#table_login{
    width: 50%;
    height:25%;
    text-align: center;
    position: relative;
    left:25%;
    top:15%;
}

.p_table_label{
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left:-110;
}
#main_content input{
    border: 1px solid black;
    height:30px;
    width:50%;
}
#button_submit{
	background-color:#3cb878;
	height:25px;
    width:200px;
    box-shadow: none;
	border:0;
	font-weight:bold;
	color:white;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    font-size: 16px;
    top:10;
}