html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
	font-family: Arial;
	background-color:white;
}
/*Left Side Chairs */
#input_search_course{
	background-color: white;
}
#submit_left_side_search{
	position: absolute;
	box-shadow: none;
	border:0;
	background-color:white;
	top:24%;
	right:5;
}
#left_side{
	background-color: #252525;
	width:20%;
	height:120%;
	position:absolute;
	z-index: 3;
	overflow: auto;
}
#left_side_content{
	position:relative;
	top: 40;
	left:30;
	width:80%;
	font-size: 14px;
	border-bottom:1px solid #e1e1e1;
}
.left_side_rows{
	color:white;
}
.left_side_rows > td{
	padding-bottom: 1em;
}
.left_side_text{
	height:8px;
}
.left_side_select{
	margin-bottom:-5px;
	height:25px;
	width: 100%;
	-webkit-border-radius:7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.left_side_select:first-child{
	background-color:#3cb878;
	color:white;
}
.class_days{
	background:none;
	border:none;
	margin-left:5px;
	color: #3cb878;
	font-weight:bold;
}
.class_days:last-child, .class_days:first-child{
	color:#ed1c24;
}
#left_button_holder{
	position:relative;
	top: 70;
}
.left_buttons{
	height:40px;
	font-size:14px;
	font-weight:bold;
	color:#252525;
	background-color:#e1e1e1;
	text-align:justify;
	width:80%;
	 box-shadow: none;
	 border:0;
	 margin-top:10px;
}
/* Chair Headers */
#header{
	width: 100%;
	height:10%;
	background-color: #3cb878;
	z-index: 2;
	position: relative;
	top:0;
	left: 0;
}
#smaller_header{
	width: 100%;
	height:5%;
	background-color:white;
	border-bottom: 1px solid black;
	z-index: 1;
	position: relative;
	top:0;
	left: 0;
}
#system_title{
	text-align:center;
	color:white;
	font-size:25px;
	position:relative;
	font-weight:bold;
	top:15;
}
#user_icon{
	position:absolute;
	top:20;
	right:100;
	color:white;
	font-weight:bold;
	text-decoration:none;
}
#online_icons{
	position: relative;
	left:60%;
	top:8;
	color:black;
	text-decoration:none;

}
#last_edited{
	position:relative;
	left:275;
	top:8;
	font-size:12px;
	color:#979797;
}
/*right side chairs */
#modify_offering{
	position: absolute;
	left:87%;
	top:-5;
	font-weight:bold;
	color:black;
	font-size:13px;
}
/* central zone chairs */

#main_content{
	height: 100%;
	width: 60%;
	margin-left:25%;
	overflow: auto;
}
#generated_list{
	width:80%;
    border-collapse: collapse;
}
#generated_list th{
	margin-top: 50px;
	font-size:14px;
}
#generated_list tr:first-child{
	background-color:white;
}
#generated_list tr{
	background-color:#e2e2e2;
	height: 30px;
	border-bottom:3px solid white;
}
#generated_list td{
	text-align:center;
	font-size:14px;

}
/* Right Side Chairs*/
#right_side{
	background-color: white;
	width:20%;
	height:120%;
	position: absolute;
	top:0;
	right:0;
	z-index: 0;
	border-left:1px solid black;
}
#right_side th{
	text-align: justify;
}
#modify_class_section, #modify_time, #modify_days{
	position: relative;
	top: 18%;
	left: 40;
	font-size:12px;
	padding: 5px;
	border-spacing: 10px;
	
}
#modify_room{
	position: relative;
	top: 15%;
	left: 40;
	font-size:12px;
	padding: 5px;
	border-spacing: 10px;
}
#modify_faculty, #modify_concerns, #table_preferences, #table_currentlytaking{
	position: relative;
	top: 13%;
	left: 35;
	font-size:12px;
	padding: 5px;
	border-spacing: 10px;
}
#modify_button_concerns{
	position: relative;
	top: 10%;
	left: 50;
	font-size:12px;
	padding: 5px;
	border-spacing: 10px;
}
#right_side select, #right_side input{
	height:25px;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#right_side button, .modal_buttons{
	box-shadow: none;
	border:0;
	font-weight:bold;
	color:white;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#select_right_class_type, #select_right_start_timeblock, #select_right_end_timeblock{
	width:80px;
}
#text_section{
	width:50px;
}
#text_room{
	width:70px;
}
#button_assign_room{
	width:80px;
	background-color:#959595;
}
#select_faculty{
	width: 100px;
}
#button_assign_faculty{
	width:80px;
	height:30px;
	display: inline-block;
	background-color:#2e3192;
}
#area_concerns{
	width:150px;
	height:100px;
	resize: none;
}
#button_submit_concerns{
	background-color:#3cb878;
	height:25px;
	width:60px;
}
#button_cancel_concerns{
	background-color:#ed1c24;
	height:25px;
	width:60px;
}
/* Added for Faculty */
#faculty_table_area{
	position: relative;
	top:20%;
	left:55;
}
#total_load{
	position: absolute;
	left:70%;
	color:black;
	text-decoration:none;
	top:-10;

}
#concerns_right{
	position: relative;
	top:20%;
	left:45;
	font-size:12px;
	padding: 5px;
	border-spacing: 10px;
}
/*Added for Login */
#table_login{
	width: 50%;
	height:25%;
	text-align: center;
	position: relative;
	left:25%;
	top:15%;
}
#login_smaller_header{
	width: 100%;
	height:5%;
	background-color: #3cb878;
	position: absolute;
	bottom:0;
	left: 0;
}
#login_main_content{
	height: 100%;
	width: 100%;
}
.p_table_label{
	font-weight: bold;
	font-size: 20px;
	position: relative;
	left:-110;
}
#login_main_content input{
	border: 1px solid black;
	height:30px;
	width:50%;
}
#login_button_submit{
	background-color:#3cb878;
	height:25px;
	width:200px;
	box-shadow: none;
	border:0;
	font-weight:bold;
	color:white;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	font-size: 16px;
	top:10;
}
/*For faculty load */
#load_submit_faculty_search{
	position: absolute;
	box-shadow: none;
	border:0;
	background-color:white;
	top:6%;
	right:5;
}
#load_submit_expertise_search{
	position: absolute;
	box-shadow: none;
	border:0;
	background-color:white;
	top:20%;
	right:5;
}
#load_submit_left_side_search{
	position: absolute;
	box-shadow: none;
	border:0;
	background-color:white;
	top:46%;
	right:5;
}

#div_preferences, #div_load{
	width:200px;
	height:100px;
	left:30;
	position: relative;

}
#image_faculty{
	height:100px;
	width:100px;
	position: relative;
	top:10;
	left:20%;
	margin-bottom:30px;
	margin-top:20px;
}
.p_faculty{
	font-size:14px;
}
#table_preferences{
	font-size:13px;
}
#load_button_assign_faculty{
	background-color:#3cb878;
	height:35px;
	width:60px;
	position: relative;
	left:25%;
}
#table_faculty_name{
	position: relative;
	top: 18%;
	left: 25%;
	font-size:12px;
	padding: 5px;
	border-spacing: 10px;

}
/*Added for active/inactive Trs */
.activeTr{
	background-color:#3cb878;
}
.inactiveTr{
	background-color:#e2e2e2;
}

/*Deload Screen*/
#deload_image_faculty{
	height:100px;
	width:100px;
	margin-bottom: 10%;
	position: relative;
	left:-100px;
}
#load_img_names{
	position: relative;
	top: 10%;
	left:30%;
	text-align: center;
	font-size:16px;
	padding: 5px;
	border-spacing: 10px;
}
#p_faculty_lname, #p_faculty_fname{
	font-size:16px;
	text-align: center;
}
#fType_department, #load_list{
	top: 10%;
	left:20%;
	position: relative;
}
#load_summary{
	position: relative;
	top:10%;
	left:30%;
	font-size: 15px;
	font-weight: bold;
	width: 150px;
}
#deload_button{
	background-color:#3cb878;
	height:35px;
	width:150px;
	position: relative;
	left:25%;
	top:150;
	font-size:14px;
}
.p_modal{
	font-size: 14px;
	font-weight: bold;
}
#p_total_load{
	font-size:16px;
}
#input_deload, #select_deload{
	border-radius: 3px;
}
#input_deload{
	height: 20px;
	width: 50px;
}
#select_deload{
	height: 20px;
	width: 125px;
}
#dialog_professor_name{
	font-size: 25px;
	font-weight: bolder;
	text-align: center;
}
#dialog_load_table{
	position: relative;
	left:15%;
}
.modal_buttons{
	height:30px;
	margin-top:25%;
}
#deload_confirm{
	background-color:#3cb878 ;
}
#deload_cancel{
	background-color:#ed1c24 ;
}