

@font-face {
	font-family: Gotham;
	src: url(fonts/Gotham.ttf);
}

@font-face {
	font-family: Gotham Book;
	src: url(fonts/GothamBook.ttf);
}
/**
 *	LEFT SIDE
 *	FILTER SIDEBAR
 */
.leftSidebar
{
	background-color: #252525;
	width:20%;
	height:120%;
	position:absolute;
	z-index: 3;
	overflow: auto;
}
#left_side_content{
	position:relative;
	top: 40;
	left:30;
	width:80%;
	font-size: 0.88em;
	border-bottom:1px solid #e1e1e1;
}
.left_side_text{
	height:.5em;
}
.left_side_select{
	margin-bottom:-5px;
	height:1.563em;
	width: 100%;
	-webkit-border-radius:0.438em;
	-moz-border-radius: 0.438em;
	border-radius: 0.438em;
}
.left_side_select:first-child{
	background-color:#3cb878;
	color:white;
}

#input_search_course {
	background-color: white;
}

#submit_left_side_search{
	position: absolute;
	box-shadow: none;
	border:0;
	background-color:white;
	top:24%;
	right:5;
}
.class_days{
	background:none;
	border:none;
	margin-left:5px;
	color: #3cb878;
	font-weight:bold;
}
.class_days:last-child, .class_days:first-child{
	color:#ed1c24;
}
#left_button_holder {
    position: relative;
    top: 10;
}
#button_deloading, #button_concerns, #button_new_faculty{
    position: relative;
    top:10;
}

.left_buttons{
	height:2.5em;
	font-size:0.88em;
	font-weight:bold;
	color:#252525;
	background-color:#e1e1e1;
	text-align:justify;
	width:80%;
	 box-shadow: none;
	 border:0;
	 margin-top:0.625em;
}
/* Chair Headers */
#header{
	width: 100%;
	height:10%;
	background-color: #3cb878;
	z-index: 2;
	position: relative;
	top:0;
	left: 0;
}
#smaller_header{
	width: 100%;
	height:3.5%;
	background-color:white;
	border-bottom: 1px solid black;
	z-index: 1;
	position: relative;
	top:0;
	left: 0;
}
#system_title{
	text-align:center;
	color:white;
	font-size:250%;
	position:relative;
	font-weight:bold;
	top:25;
	font-family: Gotham;
}
#user_icon{
	position:absolute;
	top:10;
	right:100;
	color:white;
	font-weight:bold;
	text-decoration:none;
}
#online_icons{
	position: relative;
	top:-15;
	left:65%;
	color:black;
	width:15%;
	height:1.5em;
}
.online_avatar{
	float:left;
	width:12%;
	height:130%;
	background-color:blue;
	font-size:1.5em;
	margin-left:0.8em;
	text-align:center;
	line-height:1.3em;
	font-weight: bold;
	font-family: Gotham Book;
	color:#fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#users_title{
	position:relative;
	text-decoration: none;
	left:50%;
	top:8;
}
#users_title:link, #users_title:visited{
	color:black;
}
#last_edited{
	position:relative;
	left:23%;
	top:8;
	font-size:100%;
	color:#979797;
}
/*right side chairs */
#modify_offering{
	position: absolute;
	left:87%;
	top:-7.5;
	font-weight:bold;
	color:black;
	font-size:1em;
}

/* Right Side Chairs*/
#right_side{
	background-color: white;
	width:20%;
	height:120%;
	position: absolute;
	top:0;
	right:0;
	z-index: 0;
	border-left:1px solid black;
	overflow: auto;
}
#right_side th{
	text-align: justify;
}

.modify_sidebar {
	display: none;
	margin-left:-20%;
}

#modify_class_section, #modify_time, #modify_days{
	position: relative;
	top: 18%;
	left: 35;
	font-size:1em;
	padding: 5px;
	border-spacing: 0.625em;
	
}
#modify_room{
	position: relative;
	top: 15%;
	left: 35;
	font-size:1em;
	padding: 5px;
	border-spacing: 0.625em;
}
#modify_faculty, #modify_concerns, #table_currentlytaking{
	position: relative;
	top: 13%;
	left: 35;
	font-size:1em;
	padding: 5px;
	border-spacing: 0.625em;
}
#table_preferences{
	position: relative;
	top: 10%;
	left: 30%;
	text-align: center;
	padding: 5px;
	border-spacing: 0.625em;
}
#modify_button_concerns{
	position: relative;
	top: 10%;
	left: 55;
	font-size: 1em;
	padding: 5px;
	border-spacing: 0.625em;
}
#right_side select, #right_side input{
	height:2.188em;
	-webkit-border-radius:0.188em;
	-moz-border-radius: 0.188em;
	border-radius: 0.188em;
	font-size: 0.88em;
}
#right_side button, .modal_buttons{
	box-shadow: none;
	border:0;
	font-weight:bold;
	color:white;
	-webkit-border-radius:0.188em;
	-moz-border-radius: 0.188em;
	border-radius: 0.188em;
	cursor: pointer;
}
#select_right_class_type{
	width:8em;
}
#select_right_start_timeblock, #select_right_end_timeblock{
	width: 8em;
	font-size:1.2em;
}
#text_section{
	width:3.5em;
	height:2.5em;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 1em;
}
#text_room{
	width:5.5em;
	height:2.5em;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 1em;
}
#button_assign_room{
	width:9em;
	height:2.3em;
	background-color:#959595;
	font-size: 0.88em;
}
#select_faculty{
	width: 9em;
	height:2.5em;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 1em;
}
#button_assign_faculty{
	width:5em;
	height:1.875em;
	display: inline-block;
}

.button_usable {
	height:2.188em;
	font-size: 0.88em;
	background-color:#2e3192;
	cursor: pointer;
}

.button_unusable {
	background-color: #959595;
	pointer-events: none;
}

#area_concerns{
	width:18em;
	height:10em;
	resize: none;
}
#button_submit_concerns{
	background-color:#3cb878;
	height:2.188em;
	width:3.75em;
	cursor:pointer;
}
#button_cancel_concerns{
	background-color:#ed1c24;
	height:2.188em;
	width: 5em;
	font-size: 0.88em;
	cursor:pointer;
}
/* Added for Faculty */
#faculty_table_area{
	position: relative;
	top:20%;
	left:55;
}
#total_load{
	position: absolute;
	left:70%;
	color:black;
	text-decoration:none;
	top:-10;

}
#concerns_right{
	position: relative;
	top:20%;
	left:45;
	font-size:0.75em;
	padding: 5px;
	border-spacing: 0.625em;
}
/*Added for Login
#table_login{
	width: 50%;
	height:25%;
	text-align: center;
	position: relative;
	left:25%;
	top:15%;
}
#login_smaller_header{
	width: 100%;
	height:5%;
	background-color: #3cb878;
	position: absolute;
	bottom:0;
	left: 0;
}
#login_main_content{
	height: 100%;
	width: 100%;
}
.p_table_label{
	font-weight: bold;
	font-size: 1.25em;
	position: relative;
	//left:-110;
}
#login_main_content input{
	border: 1px solid black;
	height:1.875em;
	width:50%;
}
#login_button_submit{
	background-color:#3cb878;
	height:1.563em;
	width:12.5em;
	box-shadow: none;
	border:0;
	font-weight:bold;
	color:white;
	-webkit-border-radius:0.188em;
	-moz-border-radius: 0.188em;
	border-radius: 0.188em;
	position: relative;
	font-size: 1em;
	top:10;
}*/
/*For faculty load */
#load_submit_faculty_search{
	position: absolute;
	box-shadow: none;
	border:0;
	background-color:white;
	top:50%;
	right:5;
	height: 1em;
}
#load_submit_expertise_search{
	position: absolute;
	box-shadow: none;
	border:0;
	background-color:white;
	top:20%;
	right:5;
}
#load_submit_left_side_search{
	position: absolute;
	box-shadow: none;
	border:0;
	background-color:white;
	top:43%;
	right:5;
}

#div_preferences, #div_load{
	width:12.5em;
	height:6.25em;
	left:30;
	position: relative;

}
#image_faculty{
	height:6.25em;
	width:6.25em;
	position: relative;
	top:10;
	left:20%;
	margin-bottom:1.875em;
	margin-top:1.25em;
}
.p_faculty{
	font-size:0.88em;
}
#table_preferences{
	font-size:0.813em;
	top: 18%;
	left: 25%;
}
#load_button_assign_faculty{
	background-color:#3cb878;
	height:2.188em;
	width:3.75em;
	position: relative;
	left:25%;
}
#table_faculty_name{
	position: relative;
	top: 18%;
	left: 30%;
	font-size:1.25em;
	padding: 5px;
	border-spacing: 0.625em;

}

/*Deload Screen*/
#deload_image_faculty{
	height:6.25em;
	width:6.25em;
	margin-bottom: 10%;
	position: relative;
	left:-6.25em;
}
#load_img_names{
	position: relative;
	top: 10%;
	left:30%;
	text-align: center;
	font-size:1em;
	padding: 5px;
	border-spacing: 0.625em;
}
#p_faculty_lname, #p_faculty_fname{
	font-size:1em;
	text-align: center;
}
#p_faculty_type, #p_faculty_department{
	font-size: 0.88em;
}
#fType_department, #load_list{
	top: 10%;
	left:20%;
	position: relative;
}
#load_summary{
	position: relative;
	top:10%;
	left:30%;
	font-size: 0.938em;
	font-weight: bold;
	width: 9.375em;
}
#deload_button{
	background-color:#3cb878;
	height:2.188em;
	width:9.375em;
	position: relative;
	left:25%;
	top:150;
	font-size:0.88em;
}
.p_modal{
	font-size: 0.88em;
	font-weight: bold;
}
#p_total_load{
	font-size:1em;
}
#input_deload, #select_deload{
	border-radius: 0.188em;
}
#input_deload{
	height: 1.25em;
	width: 3.125em;
}
#select_deload, #faculty_select_modal, #room_select_modal{
	height: 1.25em;
	width: 7.813em;
}
#faculty_select_modal, #room_select_modal{
	margin-top: 10%;
	height: 1.875em;
	width: 15.625em;
}
#dialog_professor_name{
	font-size: 1.563em;
	font-weight: bolder;
	text-align: center;
}
#dialog_load_table{
	position: relative;
	left:15%;
}
.modal_buttons{
	height:1.875em;
	margin-top:25%;
}
.assign_modal_buttons{
	background-color:#3cb878;
	font-size: 0.75em;
	color: white;
	box-shadow: none;
	border:0;
    cursor: pointer;
}


#deload_confirm, #faculty_set_button, #room_set_button, #room_done_button, #course_done_button{
	background-color:#3cb878 ;
}
#deload_cancel, #faculty_cancel_button, #room_cancel_button, #room_cancel_button, #course_cancel_button{
	background-color:#ed1c24 ;
	margin-left:5%;
}
#modal_form_faculty, #modal_form_room{
	text-align: center;
}
#modal_table_room{
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#modal_table_add_courses {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

/*Room Assignment*/
#modal_table_room tr, #modal_table_add_courses tr{
	background-color: #e2e2e2;
	border-bottom:0.188em solid white;
	height: 15%;
}
#modal_table_add_courses tr {
	height: 15%;
}

#modal_table_room tr:first-child, #modal_table_add_courses tr:first-child{
	background-color: white;
	height: 20%;
	font-size: 1.25em;
}

.modal_header{
	width: 100%;
	margin-bottom: 1.875em;
	border-collapse: collapse;
}
.modal_header select, .modal_header input{
	font-size: 1em;
	height: 1.563em;
}
.modal_header td:first-child{
	 width: 40%;
	 padding: 5px;
 }

.modal_header td{
	width: 30%;
}
.modal_header th{
	font-size:1em;
	text-align: left;
}
#button_search_room{
	position: absolute;
	box-shadow: none;
	border:0;
	background-color:white;
	top:6.9%;
	font-size: 0.88em;
	left:243;
}
#button_search_course{
	position: absolute;
	box-shadow: none;
	border:0;
	background-color:white;
	top:6.9%;
	font-size: 0.88em;
	left:185;
}
.divModals {
	overflow: auto;
}
.modal_search{
	height: 1.25em;
	width:15.625em;
}
.modal_select{
	height: 1.25em;
}
#select_building{
	width: 12.5em;
}

.modal_footer{
	position: relative;
	bottom: 0;
	left: 650;
	text-align: right;
	height: 1.25em;
}

.add_modal_buttons {
	-webkit-border-radius: 0.625em;
	-moz-border-radius: 0.625em;
	border-radius: 0.625em;
	background-color:#3cb878;
	font-size: 0.88em;
	color: white;
	box-shadow: none;
	border:0;
	font-weight: bold;
}
#select_degree{
	width:9.375em;
}
#select_batch{
	width:3.75em;
}
#select_academic_year{
	width:6.25em;
}
#select_term{
	width:2.5em;
}
#modal_input_search_course{
	width: 12.5em;
}
#offerModifyForm{
	position: relative;
	top:10%;
	//left:-20%;
}
#button_submit_modifyOffering{
	background-color: #3cb878;
	height:2.188em;
	width:5em;
	font-size: 0.88em;
	cursor:pointer;
}
#label_currLoad{
	position: relative;
	top:25%;
	left: 35%;
	font-weight: bold;
	font-size: 1em;
	width: 65%;

}
.generatedFacultyLoadTable{
	position: relative;
	top:20%;
	left: 5%;
	width: 100%;
	border-collapse: collapse;
	display: table;
}
.generatedLoad .genLoadRows:first-child
{
	margin-top: 6.25em;
	font-size:0.75em;
	font-weight: bold;
	padding: 3em;
}
.filter_comments{
	text-align: center;
	font-weight: bold;
	position: relative;
	left:-9%;
	display: none;
}
.generatedLoad .genLoadRows 	/* FKA genList_rows */
{
	margin-top: 5px;
	height: 1.875em;
	width: 100%;
	border-bottom:0.188em solid white;
	display: table-row;
	cursor: pointer;
	position: relative;
}

.generatedLoad .genLoadRows .genLoadCols	/* FKA genList_cols */
{
	text-align:center;
	font-size:0.75em;
	display: table-cell;
}

.rightDeloadingLoadingButtons{
	position: relative;
	top:11%;
	font-size: 0.88em;
	width: 70%;
}
.rightDeloadingLoadingButtons button{
	width: 6.875em;

}

#table_curr_load tr{
	padding: 0.188em;
}
#table_curr_load td,  #table_curr_load th{
	text-align: center;
}

#table_curr_load .generated_current_load{
	margin-top: 0.188em;
}
#table_faculty_name th{
	font-size: 1em;
	text-align: center;

}

/* Concerns Modal */
#concerns_tabs{
    width:15%;
    height:inherit;
    float:left;
    border-right: 1px solid #000;
    margin-right:1em;
}
.concerns_buttons{
    width:115%;
    height:2em;
    background-color:#e1e1e1;
    text-align:center;
    cursor:pointer;
    font-size:1.3em;
    font-weight: bold;
    line-height:2em;
    margin-bottom:0.35em;
    margin-left:-1em;
}
#concerns_body{
    width:80%;
    float:left;
}
.concern_entry{
    border-bottom:1px solid black;
    height: 20%;
    width:100%;
    //display:none;
}
.concern_message{
    font-size: 0.875em;
}
.concern_name{
    font-size: 1.3em;
    font-weight: bold;
}
.concern_time{
    font-size: 0.88em;
    font-weight: bold;
    text-align: right;
}

#concern_compose{
    width:105%;
    height:100%;
    display:none;
}

#concern_receiver{
    width:100%;
}

#concern_content{
    resize:initial;
    width:100%;
    height:100%;
}

.compose_addressbar{
    height:10%;
}

#concern_button_submit{
    height:10%;
    text-align:right;
}

#compose_submit{
    background-color:#3cb878;
    height:2.188em;
    cursor: pointer;
    box-shadow: none;
    border:0;
    font-weight:bold;
    color:white;
    -webkit-border-radius:3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#concerns_list{
	overflow: auto;
	position: relative;
}
#notification_pop{
	background-color:#BD081C;
	color: white;
	border-radius: 20px;
	font-weight: bold;
	height: 28px;
	width: 25px;
	text-align: center;
	margin-top: -20%;
	margin-left: 70%;
}
.deload_button{
	font-weight:bold;
	color:white;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color:#3cb878;
	box-shadow: none;
	border:0;
	height:2.3em;
	width:5.5em;
	text-align:center;
	cursor:pointer;
}
#table_deload{
	margin:0 auto;
	font-family: Gotham Book;
	margin-top:2em;
	border-collapse: separate;
	border-spacing: 0 1em;
}

#deload_name{
	font-size:2.5em;
}

#deload_totalLoad{
	padding-bottom:1.5em;
}

#deload_units, #deload_type{
	width:15em;
}

.deload_label{
	text-align:right;
}

#button_submit_deload{
	text-align:center;
}
#submit_deload{
	font-weight:bold;
	color:white;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color:#3cb878;
	box-shadow: none;
	border:0;
	height:2.5em;
	width:5.5em;
	text-align:center;
	cursor:pointer;
}
