body{
  background:#f4f4f4;
}
/*******************CUSTOMS***********************/
/* Custom Color*/
.sideBar-cell-color{
  background-color: #2f822d !important;
  border-color: #2f822d !important;
  color:#ffffff !important;
}

.clickedPanel-color{
  background-color: #373737 !important;
  border-color: #2f822d !important;
  color:#ffffff !important;
}

.inactivePanel{
  display:none;
}

.clicked-offering-active{
  background-color: #309953 !important;
  cursor: pointer;
  color:#ffffff !important;
}

.clicked-offering-inactive:hover{
  cursor: pointer;
  background-color: #b6b6b6!important;
}

.publish-active{
  background-color: #35a4f4!important;
  cursor: pointer;
  color:#ffffff !important;
}

.publish-inactive, .trash-button{
  background-color: #b30000 !important;
  cursor: pointer;
  color:#ffffff !important;
}

.add-button, .save-button{
  background-color: #099b10!important;
  cursor: pointer;
  color:#ffffff !important;
}

.edit-button{
  background-color: #fa9c1f!important;
  cursor: pointer;
  color:#ffffff !important;
}

.pushed-option, .disabled-toggle{
  background-color: #9f9f9f!important;
  cursor: pointer;
  color:#ffffff !important;
}

.editable-cell{
  /*background-color: #c7c2c2!important;*/
  cursor: pointer;
  margin:1px;
  color:#000000 !important;
}
/********************FONTS************************/
@font-face {
  font-family: RalewayLight;
  src: url(../../resources/fonts/RalewayLight.ttf);
}
@font-face {
  font-family: FjallaOne;
  src: url(../../resources/fonts/FjallaOne.ttf);
}
@font-face {
  font-family: GalliardRoman;
  src: url(../../resources/fonts/GalliardRoman.otf);
}
/********************NAVBAR***********************/
.navbar{
  min-height: 50px !important;
  margin-bottom:0;
  border-radius:0;
  opacity:0.8;
  width: 100%;
  position: fixed;
  z-index: 2;
  font-family: RalewayLight;
  font-size: 13px; 
}

.navbar-nav > li > a, .navbar-brand{
  padding-top:15px !important;
  padding-bottom:0 !important;
  height: 50px;
}

.navbar-default {
  transition: all ease .5s;
  background-color: #225c20;
  border-color: #225c20;
}
.navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 15px;
  font-family: FjallaOne;
  z-index: 3;
  position: relative;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a{
  color: #f8fafa;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f8fafa;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f8fafa;
  background-color: #2f822d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f8fafa;
  background-color: #2f822d;
}
.navbar-default .navbar-toggle {
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2f822d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
}
.navbar-default .navbar-link {
  color: #f8fafa;
}
.navbar-default .navbar-link:hover {
  color: #f8fafa;
}
.dropdown-menu .dropdown-item{
  color: #373737;
  font-family: RalewayLight;
  font-size: 13px;
}

/******************WHEN SCROLLED DOWN******************/
#nav.shrink {
  min-height: 40px;
  transition: all ease .5s;
  background-color: black;
  border-color: black;
  opacity:0.8;
}

#nav.shrink .navbar-nav > li > a, .navbar-brand{
  padding-top:15px !important;
  padding-bottom:0 !important;
  min-height: 40px;
}

#navbar.shrink {
  min-height: 40px;
  transition: all ease .5s;
  background-color: black;
  border-color: black;
  opacity:0.8;
}

#navbar.shrink .navbar-nav > .active > a,
#navbar.shrink .navbar-nav > .active > a:hover,
#navbar.shrink .navbar-nav > .active > a:focus {
  color: #f8fafa;
  background-color: #373737;
}

#navbar.shrink .navbar-nav > .open > a,
#navbar.shrink .navbar-nav > .open > a:hover,
#navbar.shrink .navbar-nav > .open > a:focus {
  color: #f8fafa;
  background-color: #373737;
}

#navbar.shrink .navbar-toggle:hover,
#navbar.shrink .navbar-toggle:focus {
  background-color: #373737;
}

#nav.shrink .navbar-toggle:hover,
#nav.shrink .navbar-toggle:focus {
  background-color: #373737;
}

/********************NAVBAR************************/
/********************PARALLAX***********************/

#parallaxText{
  font-family: GalliardRoman;
    font-size: 30px; 
    position: absolute;
    margin-top: 150px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    z-index: 1;
}
.parallax-window {
    min-height: 300px;
    background: #225c20;
    opacity: 0.5;
}
/********************PARALLAX***********************/
/********************SIDEBAR***********************/
/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

#dashboardSideBar{
  margin-top: 20px;
  /*margin-bottom: 90px;*/
  z-index: 1;
}

/********************SIDEBAR***********************/
/*************ALL TABLES***********/
  /*All tables should have header-fixed class.*/
.header-fixed {
    width: 100%;
}

.header-fixed {
    width: 100%;
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 300px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 25%; /*kasi 4 columns lang. if 5, 20%. If etc, adjust*/
    float: left;
}



.header-fixed > thead > tr > th{
  white-space: nowrap; /*If headers start wrapping white spaces, it messes things up*/
}
/**********************************CUSTOM TABLE**************************/
/*All tables should have different stuff below*/
#panelBuildingsAndRooms, #panelViewFacultyAssignment{
  margin-top: 20px;
  height: 300px;
  margin-bottom: 170px;
}

#panelViewOfferings{ /*may add oferring button kaya hiwalay*/
  margin-top: 20px;
  height: 300px;
  margin-bottom: 200px;
}

.header-fixed-viewbuildingsandrooms > tbody > tr > td,
.header-fixed-viewbuildingsandrooms > thead > tr > th {
    width: 25%; /*kasi 4 columns lang. if 5, 20%. If etc, adjust*/
    float: left;
}

.header-fixed-viewfacultyassignment > tbody > tr > td,
.header-fixed-viewfacultyassignment  > thead > tr > th {
    width: 33%; /*kasi 4 columns lang.*/
    float: left;
}

.header-fixed-viewofferings > tbody > tr > td,
.header-fixed-viewofferings > thead > tr > th {
    width: 25%; /*kasi 4 columns lang. if 5, 20%. If etc, adjust*/
    float: left;
}

.header-fixed-viewbuildingsandroomsmodal > tbody > tr > td,
.header-fixed-viewbuildingsandroomsmodal > thead > tr > th {
    width: 33%; /*kasi 3 columns lang. if 4, 25%. If etc, adjust*/
    float: left;
}

.header-fixed-offerringlistFAmodal > tbody > tr > td,
.header-fixed-offerringlistFAmodal > thead > tr > th {
    width: 12%; /*kasi 8 columns */
    float: left;
}

.header-fixed-offerringlistVOmodal > tbody > tr > td,
.header-fixed-offerringlistVOmodal > thead > tr > th {
    width: 9%; /*kasi 11 columns */
    float: left;
}

.header-fixed-facultylistFAmodal > tbody > tr > td,
.header-fixed-facultylistFAmodal > thead > tr > th {
    width: 16%; /*kasi 5 columns */
    float: left;
}

.header-fixed-offerringlistANOmodal > tbody > tr > td,
.header-fixed-offerringlistANOmodal > thead > tr > th {
    width: 14%; /*kasi 7 columns */
    float: center;
}

.header-fixed-flowchartcourseslistANOmodal > tbody > tr > td,
.header-fixed-flowchartcourseslistANOmodal > thead > tr > th,
.header-fixed-courseslistANOmodal > tbody > tr > td,
.header-fixed-courseslistANOmodal > thead > tr > th  {
    width: 33%; /*kasi 3 columns */
    float: left;
}

.header-fixed-facultylistview > tbody > tr > td,
.header-fixed-facultylistview > thead > tr > th {
    width: 20%; /*kasi 5 columns */
    float: left;
}

.header-fixed-facultycurrentload > tbody > tr > td,
.header-fixed-facultycurrentload > thead > tr > th {
    width: 33%; /*kasi 3 columns */
    float: left;
}

.header-fixed-cvcofferingslist > tbody > tr > td,
.header-fixed-cvcofferingslist > thead > tr > th {
    width: 12%; /*kasi 8 columns */
    float: left;
}



.header-fixed-viewbuildingsandrooms > body, .header-fixed-viewfacultyassignment > body, 
.header-fixed-viewofferings > body{
  overflow-y: auto;
    height: 300px;
}

.header-fixed-viewbuildingsandroomsmodal > tbody, .header-fixed-viewfacultyassignmentmodal > tbody {
    overflow-y: auto;
    height: 250px;
}

.header-fixed-viewbuildingsandroomsmodal > tbody{
  overflow-y: auto;
    height: 250px;
    margin-left:10px;
}

.header-fixed-offerringlistFAmodal > tbody,
.header-fixed-offerringlistVOmodal > tbody,
.header-fixed-offerringlistANOmodal > tbody{
  overflow-y: auto;
    height: 350px;
    margin-left:10px;
}

.header-fixed-flowchartcourseslistANOmodal > tbody{
  overflow-y: auto;
    height: 70px;
}

.header-fixed-courseslistANOmodal > tbody{
  overflow-y: auto;
    height: 240px;
}

#tableModalFAOfferingListHeaders, #tableModalBuildingRoomsHeaders, #tableModalFAFacultyListHeaders,
#tableModalViewOfferingsHeaders, #tableModalANOOfferingListHeaders, #tableModalANOCoursesListHeaders,
#tableModalANOFlowchartCoursesListHeaders, #tableModalFAOfferingListHeadersViaFacultyInfo{
   margin-left:10px;
}

.header-fixed-facultylistFAmodal > tbody{
  overflow-y: auto;
    height: 300px;
    margin-left:10px;
}


.header-fixed-facultylistview > tbody{
  overflow-y: auto;
    height: 300px;
    margin-left:10px;
}

.header-fixed-facultycurrentload > tbody{
  overflow-y: auto;
    height: 300px;
    margin-left:10px;
}


.header-fixed-offerringlistFAmodalviafacultyinfo > tbody > tr > td,
.header-fixed-offerringlistFAmodalviafacultyinfo > thead > tr > th {
    width: 12%; /*kasi 8 columns */
    float: left;
}

.header-fixed-offerringlistFAmodalviafacultyinfo > tbody {
  overflow-y: auto;
    height: 350px;
    margin-left:10px;
}




}


/**********************************CUSTOM TABLE**************************/
/*************ALL TABLES***********/
/*************FOOTER***************/
#footerDiv{
  background-color: #1b1b1b;
  border-color: #1b1b1b;
  color: #ffffff;
  font-family: RalewayLight;
  font-size: 12px;
  padding-bottom: 20px;
}

#footerBrand{
  font-family: FjallaOne;
  color: #ffffff;
  font-size: 15px;
}
/*************FOOTER***************/
/*************MODAL***************/
#viewRoomsModalBody{
  /*margin-bottom: 50px;*/
}

#divModalBuildingRooms{
  /*margin-left: 10px;*/
}

#viewRoomsModal{
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
}

#facultyAssignmentModal{
  padding: 10px;
    overflow-y: scroll;
    font-size: 11px;
}

#facultyInfoAssignmentModal{
  padding: 10px;
    overflow-y: scroll;
    font-size: 11px;
}

#addNewOfferingsModal{
  padding: 10px;
    overflow-y: scroll;
    font-size: 11px;
}

#addNewOfferingsModal table{
  border: 2px solid;
  border-color: #595959;
}

#searchFlowchartModalBody{
  background-color: rgba(178, 178, 178,0.4);
  padding-bottom: 22px;
}

#searchCourseModalBody{
  background-color: rgba(178, 178, 178,0.4);
}

#divModalANOInfoandSearch{
  background-color: rgba(178, 178, 178,0.4);
}

#tableModalBuildingRooms, #tableModalFAOfferingList{
  width: 90%;
  margin-left:20px;
  font-size: 11px;
}

#tableModalANOOfferingList{
  width: 100%;
  margin-left:10px;
  font-size: 11px;
}

#tableModalFAFacultyList{
  width: 90%;
  font-size: 11px;
  margin-left: 20px;
}

#tableModalVOOfferingList{
  width: 95%;
  font-size: 11px;
  margin-left: 10px;
}

#tableCVCOfferingList {
  width: 95%;
  font-size: 11px;
  margin-left: 10px;
}



#FAModalBody{
  font-size: 11px;
}
/*************MODAL***************/
/***********************TOGGLES*******************/
.toggle.ios, .toggle-on.ios, .toggle-off.ios { 
  border-radius: 20px; 
}
.toggle.ios .toggle-handle { 
  border-radius: 20px; 
}
/***********************TOGGLES*******************/
/******************FORM GROUPS*******************/
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
/******************FORM GROUPS*******************/

/*** BUTTON DESIGNS ***/

.btn {
  display: inline-block;
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom-width: 3px;
}


.btn:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
  }
  
.btn:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
  }
  
/* red button */

.btn.btn-red {
  background-color: #E48681;
  border-color: rgba(0,0,0,0.3);
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  color: #FFF;
}

  .btn.btn-red:hover {
    background-color: #DA4F49;
    border-color: rgba(0,0,0,0.5);
  }
  
  .btn.btn-red:active {
    background-color: #B32C24;
    border-color: rgba(0,0,0,0.9);
  }
  
/* green button */

.btn.btn-green {
  background-color: #277f12;
  border-color: rgba(0,0,0,0.3);
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  color: #FFF;
}

  .btn.btn-green:hover {
    background-color: #226f10;
    border-color: rgba(0,0,0,0.5);
  }
  
  .btn.btn-green:active {
    background-color: #1d5f0d;
    border-color: rgba(0,0,0,0.9);
  }

