			*{
        		margin: 0;
        		padding: 0;
        		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        		-webkit-box-sizing: border-box;
        		-moz-box-sizing: border-box;
        		box-sizing: border-box;
        	}
        	body{
        		background-repeat: no-repeat;
        		-webkit-background-size: cover;
        		background-size: cover;
        		background-image: url('../images/dlsu.png');
        	}
        	.login-box{
        		width: 400px;
        		background-color: rgba(1, 1, 20, 0.6);
        		margin: 150px auto;
        		border-radius: 10px;
        		border: 0px ridge #00bfff;
        		box-shadow: 0 0 0px 0px #000;
        	}
        	.greeting{
        		width: 100%;
        		padding-top: 20px;
        		font-size: 17px;
        		color: #fff;
        		text-align: center;
        		text-shadow: 1px 1px 2px #000;
        	}
        	.form-box{
        		padding: 25px;
        	}
        	.label-textbox-parent-div, .remember-me-forgot-password-parent-div{
        		clear: both;
        	}
        	.label-div{
        		width: 25%;
        		display: inline-block;
				position: relative;
        		font-size: 13px;
        		color: #fff;
        		padding-top: 6px;
        		text-shadow: 1px 1px 2px #000;
        	}
        	.input-div{
        		display: inline-block;
				float:right;
        	}
        	.input-component{
        		width: 100%;
        		height: 28px;
        		padding: 13px 15px 13px 11px;
        		margin-top: 2px;
        		margin-bottom: 7px;
        		border: none;
        		border-radius: 5px;
        		font-size: 15px;
        		border-bottom: 2px solid #000;
        		color: #727669;
        	}
        	.input-component:focus{
        		outline: none;
        		border: 1px solid #8080ff;
        		color: #727669;
        	}
        	.space-divider{
        		clear: both;
        	}
        	.submit-button{
        		width: 93%;
        		height: 40px;
        		border-radius: 5px;
        		margin-top: 10px;
        		border: none;
        		font-size: 15px;
        		background: linear-gradient(#0cb848,#087830);
        		cursor: pointer;
        		color: #fff;
        		border-bottom: 1px solid #000;
        		text-shadow: 1px 1px 1px #000;
        	}
        	.submit-button:hover{
        		background: linear-gradient(#087830,#0cb848);
        		-webkit-transition: all .0.3s;
        		-o-transition: all .0.3s;
        		transition: all .0.3s;
        	}
        	.submit-button:focus{
        		outline: none;
        		box-shadow: 1px 1px 5px 0 #000 inset;
        	}
        	.remember-me-div{
        		display: inline-block;
				position: relative;
        		margin-bottom: 10px;
        		top: 10px;
        		font-size: 13px;
        		float: left;
        		width: 50%;
        		height: 20px;
        	}
        	span{
        		color: #fff;
        		margin-left: 5px;
        		font-size: 13px;
        		position: absolute;
        		text-shadow: 1px 1px 1px #000;
        	}
        	.forgot-password-div{
        		display: inline-block;
				position: relative;
        		margin-bottom: 10px;
        		top: 10px;
        		float: right;
        	}
        	.forgot-password{
        		margin-top: 12px;
        		font-size: 13px;
        		color: #fff;
        		text-shadow: 1px 1px 1px #000;
        		text-decoration: none;
        	}
        	.forgot-password:hover{
        		margin-top: 12px;
        		font-size: 13px;
        		color: #1f940a;
        		text-shadow: 1px 1px 1px #000;
        		text-decoration: underline;
        	}

        	@media (max-width: 720px) {
        		.login-box{
        			width: 50%;
        		}
        	}