@font-face {
    font-family: Gotham Book;
    src: url(fonts/GothamBook.ttf);
}
.date_specified{
    width:100%;
    text-align: center;
    font-weight: bold;
    background-color:#e2e2e2;
    height:2em;
    line-height: 2em;
    font-size:1.3em;
    font-family: Gotham Book;
}
.revision_holder{
    width:100%;
    height:5em;
    border-top:1px solid black;
    border-bottom:1px solid black;
}
.revision_entry{
    width:80%;
    height:20%;
    float:right;
    padding-left:10px;
    cursor:pointer;
}
.revision_entry td{
    font-size: 1em;
    font-weight: bold;
    font-family: Gotham Book;
    line-height: 1.3em;
}
.revision_picture{
    height:30px;
    width:30px;
    margin-top:7px;
    margin-left:20px;
    float:left;
    position: fixed;
}

.revision_person, .revision_position, .revision_time{
    position: relative;
}
.revision_position{
    top:2;
}

.revision_time{
    top:2;
}
#revisionWrapper{
    margin-top:8em;
}