.date_specified{
    width:100%;
    text-align: center;
    font-weight: bold;
    background-color:white;
}
.revision_holder{
    width:100%;
    height:10%;
    border-top:1px solid black;
    border-bottom:1px solid black;
}
.revision_entry{
    width:80%;
    height:20%;
    float:right;
    padding-left:10px;
}
.revision_entry td{
    font-size:10px;
    font-weight: bold;
}
.revision_picture{
    height:30px;
    width:30px;
    margin-top:7px;
    margin-left:20px;
    float:left;
    position: fixed;

}

.revision_person, .revision_position, .revision_time{
    position: relative;
}
.revision_position{
    top:2;
}

.revision_time{
    top:2;
}