.rightSidebar       /* FKA right_side */
{
    background-color: white;
    width:20%;
    height:140%;
    position: absolute;
    top:0;
    right:0;
    z-index: 0;
    border-left:1px solid black;
}

.rightSidebar select
{
    -webkit-border-radius:3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 1em;
    height:2.5em;
}

.rightSidebar button
{
    box-shadow: none;
    border:0;
    font-weight:bold;
    color:white;
    -webkit-border-radius:3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/**
 *  RIGHT SIDE
 *	MODIFY OFFERING
 *  SIDEBAR
 */

#modifyOfferingTypeSection,     /* FKA modify_class_section */
#modifyOfferingDays             /* FKA modify_days */
{
    position: relative;
    top: 18%;
    left: 35%;
    font-size:1em;
    padding: 5px;
    border-spacing: 0.625em;
}

#modifyOfferingTime            /* FKA modify_time */
{
    position: relative;
    top: 18%;
    left: 35%;
    font-size:1em;
    padding: 5px;
    border-spacing: 0.625em;
    height:1em;
}

#modifyOfferingRoom             /* FKA modify_room */
{
    position: relative;
    top: 15%;
    left: 35%;
    font-size:1em;
    padding: 5px;
    border-spacing: 0.625em;
}

#modifyOfferingFaculty,         /* FKA modify_faculty */
#modifyOfferingConcerns         /* FKA modify_concerns */
{
    position: relative;
    top: 13%;
    left: 35%;
    font-size:1em;
    padding: 5px;
    border-spacing: 0.625em;
}

#modifyOfferingButtons          /* FKA modify_button_concerns */
{
    position: relative;
    top: 10%;
    left: 40%;
    font-size:1em;
    padding: 5px;
    border-spacing: 0.625em;
}

#modOffRoomButton               /* FKA button_assign_room */
{
    width: 5em;
    height:2.3em;
}

#modOffFacultyButton            /* FKA button_assign_faculty */
{
    width: 5em;
    height: 2em;
}

.modOffUsableButton             /* button_usable */
{
    font-size: 0.875em;
    background-color:#2e3192;
    cursor: pointer;
}

.modOffBlockedButton            /* button_unusable */
{
    font-size: 0.875em;
    background-color: #959595;
    pointer-events: none;
}

/**
 *  RIGHT SIDE
 *	FACULTY INFORMATION
 *  SIDEBAR
 */

.facultyInfoTitles              /* p_faculty */
{
    font-size: 1em;
}

#facultyInfoStatus              /* table_preferences */
{
    font-size: 0.813em;
}

.facultyInfoButtons             /* load_button_assign_faculty */
{
    background-color:#3cb878;
    height:2.188em;
    width:3.75em;
    position: relative;
    left:25%;
    cursor: pointer;
}