body
{
    background: #3cb878;
    top: 0;
    left: 0;
    font-family: Gotham;
}

/*** Signin Containers ***/

.signin-wrapper
{
    position: absolute;
    top: 25%;
    left: 20%;
    height: 50%;
    width: 60%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.signin-containers
{
    float: left;
    height: 100%;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*** Sign in Introduction ***/
.signin-assystx-intro
{
    color: #f4f4f4;
}

#signin-intro-title
{
}

#signin-intro-description
{
    font-size: 1em;
    text-align: justify;
    width: 90%;
}

/*** Sign in Form ***/
.signin-assystx-login
{
    padding: 2.5%;
    background: #f4f4f4;
    border-radius: 10px;
}

label
{
    font-family: Gotham;
    font-weight: bold;
    color: #2b2b2b;
}

input[type=text], input[type=password]
{
    width: 92%;
    padding: 15px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 0.5px solid #2b2b2b;
    border-radius: 10px;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus
{
    background-color: #ddd;
    outline: none;
}

#signin-error
{
    padding: 0;
    background: none;
    border: none;
    font-family: Gotham;
    font-size:0.8em;
    color: #ed1c24;
}

button {
    background-color: #3cb878;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-family: Gotham;
    font-size: 1em;
    font-weight: bold;
}