<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ASSYSTX - APO</title>
        <link rel="stylesheet" type="text/css" href="temp-apo-style.css" />
        <link rel="stylesheet" type="text/css" href="jquery/jquery-ui.css" />
        <script type="text/javascript" src="jquery/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="jquery/jquery-ui.js"></script>
        <script type="text/javascript" src="temp-apo-script.js"></script>
    </head>
    <body>
        <!-- General Header for ASSYSTX -->
        <header class="assystx-workspace-header" id="assystx-workspace-header">
            <div class="workspace-menu" id="workspace-menu">
                    <img src="hamburger.png" class="workspace-menu-img" />
            </div>
            <div class="workspace-search">
                <input type="text" placeholder="Search for a course offering..." class="workspace-search-textfield" name="workspace-search-textfield" />
                <button type="button" class="workspace-search-button">
                    <img src="search.png" class="workspace-search-image" />
                </button>
            </div>
            <div class="workspace-user">
                <img src="inbox.png" class="workspace-user-inbox workspace-user-icons" />
                <img src="user.png" class="workspace-user-avatar workspace-user-icons" />
            </div>
        </header>

        <!-- Left Sidebar -->
        <div class="assystx-workspace-navigation" id="assystx-workspace-leftSidebar">
            <a href="javascript:void(0)" class="workspace-navigation-close">×</a>
            <h2>ASSYSTX</h2>
            <hr>

            <h3>CVC Functions</h3>
            <ul class="workspace-navigation-user-functions">
                <li> <a href="javascript:void(0)" id="workspace-navigation-view-faculty"> View Faculty Load Info</a> </li>
                <li> <a href="javascript:void(0)" id="workspace-navigation-add-course"> Add New Course</a> </li>
                <li> <a href="javascript:void(0)" id="workspace-navigation-add-faculty"> Add New Faculty</a> </li>
            </ul>
            <hr>

            <h3>Online Users</h3>
            <ul class="workspace-navigation-online-users">
                <li> <img src="user.png"> </li>
                <li> <img src="user.png"> </li>
                <li> <img src="user.png"> </li>
                <li> <img src="user.png"> </li>
                <li> <img src="user.png"> </li>
            </ul>
            <hr>

            <h3>Recent Changes</h3>
            <ul class="workspace-navigation-online-users">
            </ul>
        </div>

        <!-- Collaborative Workspace -->
        <section class="assystx-workspace-main" id="assystx-workspace-content">
            <div class="workspace-main-headers">
                <ul class="workspace-main-headers-list">
                    <li>&nbsp;</li>
                    <li>Course</li>
                    <li>Section</li>
                    <li>Days</li>
                    <li>Timeslot</li>
                    <li>Room</li>
                    <li>Faculty</li>
                    <li>&nbsp;</li>
                </ul>
            </div>
            <div class="workspace-main-rows">
                <div class="workspace-main-rows-single">
                    <ul class="workspace-main-rows-list">
                        <li>&nbsp;</li>
                        <li>ADVANDB</li>
                        <li>S20</li>
                        <li>M W</li>
                        <li>09:15 - 10:45</li>
                        <li>G206</li>
                        <li>Bulos, Remedios</li>
                        <li>
                            <button class="workspace-main-modify-button" >Modify</button>
                        </li>
                    </ul>
                </div>
                <div class="workspace-main-rows-single">
                    <ul class="workspace-main-rows-list">
                        <li>&nbsp;</li>
                        <li>ADVANDB</li>
                        <li>S20</li>
                        <li>M W</li>
                        <li>09:15 - 10:45</li>
                        <li>G206</li>
                        <li>Bulos, Remedios</li>
                        <li>
                            <button class="workspace-main-modify-button" >Modify</button>
                        </li>
                    </ul>
                </div>
                <div class="workspace-main-rows-single">
                    <ul class="workspace-main-rows-list">
                        <li>&nbsp;</li>
                        <li>ADVANDB</li>
                        <li>S20</li>
                        <li>M W</li>
                        <li>09:15 - 10:45</li>
                        <li>G206</li>
                        <li>Bulos, Remedios</li>
                        <li>
                            <button class="workspace-main-modify-button" >Modify</button>
                        </li>
                    </ul>
                </div>
                <div class="workspace-main-rows-single">
                    <ul class="workspace-main-rows-list">
                        <li>&nbsp;</li>
                        <li>ADVANDB</li>
                        <li>S20</li>
                        <li>M W</li>
                        <li>09:15 - 10:45</li>
                        <li>G206</li>
                        <li>Bulos, Remedios</li>
                        <li>
                            <button class="workspace-main-modify-button" >Modify</button>
                        </li>
                    </ul>
                </div>
                <div class="workspace-main-rows-single">
                    <ul class="workspace-main-rows-list">
                        <li>&nbsp;</li>
                        <li>ADVANDB</li>
                        <li>S20</li>
                        <li>M W</li>
                        <li>09:15 - 10:45</li>
                        <li>G206</li>
                        <li>Bulos, Remedios</li>
                        <li>
                            <button class="workspace-main-modify-button" >Modify</button>
                        </li>
                    </ul>
                </div>
                <div class="workspace-main-rows-single">
                    <ul class="workspace-main-rows-list">
                        <li>&nbsp;</li>
                        <li>ADVANDB</li>
                        <li>S20</li>
                        <li>M W</li>
                        <li>09:15 - 10:45</li>
                        <li>G206</li>
                        <li>Bulos, Remedios</li>
                        <li>
                            <button class="workspace-main-modify-button" >Modify</button>
                        </li>
                    </ul>
                </div>
                <div class="workspace-main-rows-single">
                    <ul class="workspace-main-rows-list">
                        <li>&nbsp;</li>
                        <li>ADVANDB</li>
                        <li>S20</li>
                        <li>M W</li>
                        <li>09:15 - 10:45</li>
                        <li>G206</li>
                        <li>Bulos, Remedios</li>
                        <li>
                            <button class="workspace-main-modify-button" >Modify</button>
                        </li>
                    </ul>
                </div>
                <div class="workspace-main-rows-single">
                    <ul class="workspace-main-rows-list">
                        <li>&nbsp;</li>
                        <li>ADVANDB</li>
                        <li>S20</li>
                        <li>M W</li>
                        <li>09:15 - 10:45</li>
                        <li>G206</li>
                        <li>Bulos, Remedios</li>
                        <li>
                            <button class="workspace-main-modify-button" >Modify</button>
                        </li>
                    </ul>
                </div>
                <div class="workspace-main-rows-single">
                    <ul class="workspace-main-rows-list">
                        <li>&nbsp;</li>
                        <li>ADVANDB</li>
                        <li>S20</li>
                        <li>M W</li>
                        <li>09:15 - 10:45</li>
                        <li>G206</li>
                        <li>Bulos, Remedios</li>
                        <li>
                            <button class="workspace-main-modify-button" >Modify</button>
                        </li>
                    </ul>
                </div>
                <div class="workspace-main-rows-single">
                    <ul class="workspace-main-rows-list">
                        <li>&nbsp;</li>
                        <li>ADVANDB</li>
                        <li>S20</li>
                        <li>M W</li>
                        <li>09:15 - 10:45</li>
                        <li>G206</li>
                        <li>Bulos, Remedios</li>
                        <li>
                            <button class="workspace-main-modify-button" >Modify</button>
                        </li>
                    </ul>
                </div>
                <div class="workspace-main-rows-single">
                    <ul class="workspace-main-rows-list">
                        <li>&nbsp;</li>
                        <li>ADVANDB</li>
                        <li>S20</li>
                        <li>M W</li>
                        <li>09:15 - 10:45</li>
                        <li>G206</li>
                        <li>Bulos, Remedios</li>
                        <li>
                            <button class="workspace-main-modify-button">Modify</button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Right Sidebar -->
        <div class="assystx-workspace-editor" id="assystx-workspace-rightSidebar">
            <h3>Modify Course Offering</h3>
            <hr>

            <label for="offering-course-code">Course Code:</label>
            <label for="offering-section" style="margin-left: 16%;">Section:</label><br>
            <input type="text" class="selected-offering-details" id="offering-course-code" value="ADVANDB" disabled />
            <input type="text" class="selected-offering-details" id="offering-section" value="S20" /><br>

            <label for="offering-day-1">Days:</label><br>
            <select class="selected-offering-details" id="offering-day-1">
                <option value="-">-</option>
                <option value="M" selected>M</option>
                <option value="T">T</option>
                <option value="W">W</option>
                <option value="H">H</option>
                <option value="F">F</option>
                <option value="S">S</option>
            </select> &nbsp; and/or
            <select class="selected-offering-details" id="offering-day-2">
                <option value="-">-</option>
                <option value="M">M</option>
                <option value="T">T</option>
                <option value="W"selected>W</option>
                <option value="H">H</option>
                <option value="F">F</option>
                <option value="S">S</option>
            </select><br>

            <label for="offering-start-time">Timeslot:</label><br>
            <input type="time" class="selected-offering-details" id="offering-start-time" value="09:15" /> to
            <input type="time" class="selected-offering-details" id="offering-end-time" value="10:45" /><br>

            <label for="offering-room-code">Room:</label><br>
            <input type="text" class="selected-offering-details" id="offering-room-code" value="G206" />
            <button type="button" class="modify-offering-buttons" id="modify-assign-room-button">Assign</button><br>

            <label for="offering-faculty-name">Faculty:</label><br>
            <input type="text" class="selected-offering-details" id="offering-faculty-name" value="Bulos, Remedios" />
            <button type="button" class="modify-offering-buttons" id="modify-assign-faculty-button">Assign</button><br>

            <button type="button" class="modify-offering-submit-buttons" id="modify-offering-submit-button">Submit</button>
            <button type="button" class="modify-offering-submit-buttons" id="modify-offering-cancel-button">Cancel</button>
            <button type="button" class="modify-offering-submit-buttons" id="modify-offering-delete-button">Delete</button>
        </div>

    </body>
</html>