body
{
    top: 0;
    left: 0;
    font-family: Gotham;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f4f4f4;
}

/*
 *
 *  HEADER
 *
 */

.assystx-workspace-header
{
    position: absolute;
    left: 0;
    top: 0;
    height: 10%;
    width: 100%;
    background: #3cb878;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Workspace Menu */

.workspace-menu
{
    margin-left: 5%;
    float: left;
    height: 100%;
    width: 5%;
    //border: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    transition: margin-left 0.5s;
}

.workspace-menu-img
{
    margin-top: 3%;
    max-width: 70%;
    height: auto;
    cursor: pointer;
}

/* Workspace Search */

.workspace-search
{
    position: fixed;
    margin-left: 32.5%;
    float: left;
    height: 100%;
    width: 35%;
    //border: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.workspace-search-textfield
{
    width: 80%;
    padding: 10px;
    margin: 15px 0 20px 0;
    display: inline-block;
    border: none;
    //border-radius: 5px;
    background: #f1f1f1;
    float: left;
}

.workspace-search-textfield:focus
{
    background-color: #f6f6f6;
    outline: none;
}

.workspace-search-button
{
    float: left;
    width: 15%;
    padding: 8px;
    margin: 15px 0 20px 0;
    border: none;
    cursor: pointer;
}

/* Workspace User */

.workspace-user
{
    margin-right: 5%;
    float: right;
    height: 100%;
    width: 10%;
    //border: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}

.workspace-user-icons
{
    margin-left: 15%;
    max-width: 30%;
    height: auto;
    cursor: pointer;
}

/*
 *
 *  WORKSPACE PROPER
 *
 */

.assystx-workspace-main
{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    //background: #5f3f3f;
    font-size: 0.9em;
    transition: left 0.5s;
}

/*** Workspace Headers ***/
.workspace-main-headers
{
    height: 7.5%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.workspace-main-headers-list
{
    margin: 0;
    padding: 10px;
}

.workspace-main-headers-list li
{
    list-style-type: none;
    float: left;
    display: inline;
    width: 10%;
    font-weight: bold;
    color: #2b2b2b;
}

.workspace-main-headers-list li:nth-child(1) {width: 6%;}
.workspace-main-headers-list li:nth-child(2) {width: 14%;}
.workspace-main-headers-list li:nth-child(3) {width: 12%;}
.workspace-main-headers-list li:nth-child(4) {width: 10%;}
.workspace-main-headers-list li:nth-child(5) {width: 16%;}
.workspace-main-headers-list li:nth-child(6) {width: 10%;}
.workspace-main-headers-list li:nth-child(7) {width: 22%;}
.workspace-main-headers-list li:nth-child(8) {width: 8%;}

/*** Workspace Main Rows ***/
.workspace-main-rows
{
    height: 90%;
    width: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    //background: #303030;
}

.workspace-main-rows-single
{
    height: 7%;
    width: 100%;
    background: #e0e0e0;
    margin-bottom: 1%;
}

.workspace-main-rows-list
{
    margin: 0;
    padding: 10px;
}

.workspace-main-rows-list li
{
    list-style-type: none;
    float: left;
    display: inline;
    //border: 1px solid #000;
}

.workspace-main-rows-list li:nth-child(1) {width: 6%;}
.workspace-main-rows-list li:nth-child(2) {width: 14%;}
.workspace-main-rows-list li:nth-child(3) {width: 12%;}
.workspace-main-rows-list li:nth-child(4) {width: 10%;}
.workspace-main-rows-list li:nth-child(5) {width: 16%;}
.workspace-main-rows-list li:nth-child(6) {width: 10%;}
.workspace-main-rows-list li:nth-child(7) {width: 22%;}
.workspace-main-rows-list li:nth-child(8) {width: 8%;}

.workspace-main-modify-button
{
    background-color: #3cb878;
    color: white;
    padding: 3px;
    //margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-family: Gotham;
    font-size: 0.90em;
    font-weight: bold;
}

/*
 *
 *  LEFT SIDEBAR WORKSPACE
 *
 */

.assystx-workspace-navigation
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 0;
    background-color: #2b2b2b;
    overflow-x: hidden;
    //padding-top: 2.5%;
    transition: 0.5s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.workspace-navigation-close
{
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 2.5em;
    text-decoration: none;
    color: #e0e0e0;
}

.workspace-navigation-close:hover
{
    color: #f6f6f6;
}

.assystx-workspace-navigation h2
{
    margin-top: 15%;
    color: #fbfbfb;
    text-indent: 9%;
}

.assystx-workspace-navigation hr
{
    width: 81%;
    border: 0.5px solid #959595;
}

.assystx-workspace-navigation h3
{
    margin-top: 10%;
    color: #fbfbfb;
    text-indent: 9%;
}

.workspace-navigation-user-functions
{
    list-style-type: none;
}

.workspace-navigation-user-functions li a
{
    display: block;
    color: #e0e0e0;
    cursor: pointer;
    //text-decoration: none;
    margin-bottom: 7.5%;
    font-size: 0.9em;
}

.workspace-navigation-user-functions li a:hover
{
    color: #f9f9f9;
}

.workspace-navigation-online-users
{
    list-style-type: none;
}

.workspace-navigation-online-users li
{
    display: inline;
    margin: 0;
    padding: 0;
    width: 15%;
}

.workspace-navigation-online-users li img
{
    max-width: 12.5%;
    height: auto;
}

/*
 *
 *  RIGHT SIDEBAR WORKSPACE
 *
 */

.assystx-workspace-editor
{
    position: fixed;
    top: 10%;
    right: 0;
    z-index: 1;
    height: 90%;
    width: 0;
    background-color: #e0e0e0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.assystx-workspace-editor h3
{
    color: #2b2b2b;
    margin-left: 10%;
}

.assystx-workspace-editor hr
{
    margin-left: 0;
    width: 90%;
    border: 0.5px solid #2b2b2b;
}

.assystx-workspace-editor label
{
    font-family: Gotham;
    font-weight: bold;
    font-size: 0.85em;
    color: #2b2b2b;
    margin-left: 5%;
}

.assystx-workspace-editor input[type=text],
.assystx-workspace-editor input[type=time],
.assystx-workspace-editor select
{
    padding: 8px;
    margin: 5px 8px 0;
    border: 0.5px solid #2b2b2b;
    //display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: 0.90em;
}

.assystx-workspace-editor input[type=text]:focus,
.assystx-workspace-editor input[type=time]:focus,
.assystx-workspace-editor select:focus
{
    background: #f6f6f6;
}

#offering-course-code
{

    background: none;
    border: none;
    width: 25%;
}

#offering-section
{
    margin-left: 16%;
    width: 8.5%;
    margin-bottom: 3%;
}

#offering-day-1,
#offering-day-2
{
    margin-left: 5%;
    margin-bottom: 5%;
    width: 17.5%;
}

#offering-start-time,
#offering-end-time,
#offering-room-code,
#offering-faculty-name
{
    margin-left: 5%;
    margin-bottom: 5%;

}

#offering-room-code
{
    width: 38.5%;
}

#offering-faculty-name
{
    width: 38.5%;
}

.modify-offering-buttons
{
    background-color: #007fff;
    border: none;
    padding: 8px;
    font-family: Gotham;
    font-weight: bold;
    color: #f6f6f6;
}

.modify-offering-submit-buttons {
    margin-top: 5%;
    float: right;
    padding: 8px;
    border: none;
    font-family: Gotham;
    font-size: 0.90em;
    color: #f6f6f6;
    font-weight: bold;
    cursor: pointer;
}

#modify-offering-submit-button { background-color: #3cb878; margin-right: 16%; }
#modify-offering-cancel-button { background-color: #959595; margin-right: 2.5%; }
#modify-offering-delete-button { background-color: #ed1c24; margin-right: 2.5%; }