.feedback-messages
{
    position: fixed;
    bottom: 5%;
    left: 50%;
    width: auto;
    height: auto;
    padding: 10px;
    font-family: OpenSans-Regular;
    font-size: 0.80em;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    transform: translateX(-50%);
    display: none;
}

#positive-feedback-message
{
    background-color: #00ba72;
}

#negative-feedback-message
{
    background-color: #e71d36;
}