#filters-container
{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 2% 2% 2% 2%;
}

/* Box Seen in UI */
#filters-box
{
    margin: 0 auto;
    height: auto;
    width: 100%;
    background: #ffffff;
    padding-top: 10px;
    padding-bottom: 5px;
}

ul.filters-checkbox-row, ul.filters-dropdown-row
{
    margin: 0;
    padding: 0 5px 40px 20px;
}

ul.filters-checkbox-row li, ul.filters-dropdown-row li
{
    margin-right: 5px;
    float: left;
    list-style-type: none;
    display: inline;
}

#filters-list
{
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

#filters-list li
{
    float: left;
    display: inline;
    list-style-type: none;
    width: 20%;
    height: auto;
}

/* Checkboxes */
.filter-checkboxes input[type="checkbox"]
{
    opacity: 0;
}

.filter-checkboxes label::before
{
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid #00e08e;
    cursor: pointer;
}

.filter-checkboxes label::after
{
    content: "";
    display: inline-block;
    height: 6px;
    width: 10px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    cursor: pointer;
}

.filter-checkboxes label
{
    position: relative;
    font-family: Open Sans;
    font-size: 0.80em;
    //font-weight: bold;
    color: #000000;
    cursor: pointer;
    left: 20px;
}

.filter-checkboxes label::before,
.filter-checkboxes label::after
{
    position: absolute;
}

.filter-checkboxes label::before
{
    top: 0.5px;
    left: -23px;
}

.filter-checkboxes label::after
{
    left: -20px;
    top: 4px;
}

/* Hide the checkmark by default */
.filter-checkboxes input[type="checkbox"] + label::after 
{
    content: none;
}

/* Unhide the checkmark on the checked state */
.filter-checkboxes input[type="checkbox"]:checked + label::after 
{
    content: "";
}

.filters-row-border
{
    border: 1px solid #efefef;
    width: 95%;
}

/*** SELECT/DROPDOWN FILTERS ***/
.filters-dropdowns
{
    display: block;
    //margin-left: 9%;
    border: none;
    border-bottom: 2px solid #00e08e;
    font-family: Open Sans;
    font-size: 0.80em;
    color: #000000;
    cursor: pointer;
    width: 85%;
    //padding-bottom: 3px;
}

.filters-dropdowns option
{
    padding: 2.5%;
}