#filters-container
{
    grid-row: 1;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding-top: 6%;
    padding-left: 15%;
    //border: 1px solid #000;
}

/* Box Seen in UI */
#filters-box
{
    margin: 0 auto;
    height: auto;
    width: 100%;
    background: #ffffff;
    padding-top: 10px;
    padding-bottom: 15px;
}

ul.filters-checkbox-row, ul.filters-dropdown-row
{
    margin: 0;
    padding: 5px 0px 30px 0px;
}

ul.filters-checkbox-row, ul.filters-dropdown-row li
{
    font-family: Open Sans;
    font-size: 0.80em;
    color: #000000;
    list-style-type: none;
    display: inline;
    float: left;
    cursor: pointer;
}

ul.filters-checkbox-row input[type=checkbox]
{

}