/*
 *
 *  HEADER
 *
 */

#workspace-header
{
    grid-row: 1;
    grid-column: 1 / 5;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: #00ba72;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3% 3.15% 15% 40% 14% 21% 5%;
    z-index: 5;
}

/* DLSU Logo and Title */

#workspace-logo-img
{
    grid-column: 2;
    height: auto;
    max-width: 90%;
    margin-top: 20%;
}

#workspace-menu-title 
{
    grid-column: 3;
    font-family: Gotham-Black;
    font-size: 1.15em;
    color: #ffffff;
    text-decoration: none;
    text-indent: 4%;
}

#workspace-menu-title:hover 
{
    text-decoration: underline;
}

#workspace-menu-title-link:link, #workspace-menu-title-link:visited
{
    text-decoration: none;
}

/* Workspace Search */

.workspace-search
{
    grid-column: 4;
    height: auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.workspace-search-textfield
{
    width: 80%;
    padding: 5px;
    margin-top: 2.5%;
    display: inline-block;
    border: none;
    background: #ffffff;
    float: left;
    font-family: OpenSans-Regular;
    font-size: 0.80em;
    color: #000000;
}

.workspace-search-textfield:focus
{
    background-color: #ffffff;
    outline: none;
}

.workspace-search-button
{
    float: left;
    height: auto;
    width: 15%;
    //padding: 3%;
    padding: 8px 6px 6px 6px;
    margin-top: 2.5%;
    border: none;
    background: #666666;
    cursor: pointer;
}

.workspace-search-button:hover
{
    background: #555;
}

.workspace-search-image
{
    max-width: 20%;
}

/* Workspace User */
.workspace-user
{
    grid-column: 6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
}

.workspace-user-icons
{
    float: right;
    max-width: 10%;
    height: auto;
    margin-top: 5%;
    cursor: pointer;
}

.workspace-user-inbox
{
    margin-right: 10%;
}

/* Header Dropdowns */
.header-dropdown-content
{
    display: none;
    position: absolute;
    top: 100%;
    min-width: 150px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    float: right;
    padding: 0 0 0 0;
}

#header-dropdown-user
{
    right: 0;
}

#header-dropdown-concerns
{
    height: auto;
    width: 350px;
    right: 15%;
}

.header-dropdown-arrow
{
    position: absolute;
    top: -7.5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    float: right;
}

#dropdown-arrow-user { right: 3.5%; }

#dropdown-arrow-concerns { right: 5.5%; }

.header-dropdown-content ul
{
    padding: 5px 0 0 0;
    margin: 0;
    height: 100%;
}

.header-dropdown-content li
{
    font-family: Open Sans;
    font-size: 0.80em;
    color: #000000;
    text-decoration: none;
    list-style-type: none;
    padding: 5px 15px 5px 15px;
    height: auto;
}

.header-dropdown-content li span.user-name
{
    font-weight: 500;
    color: #00e08e;
}

#header-dropdown-user a
{
    padding: 0;
    text-decoration-color: #000000;
}

#header-dropdown-user a:hover
{
    text-decoration-color: #ffffff;
}

#header-dropdown-user a li:hover
{
    background-color: #00e08e;
    color: #ffffff;
}

.header-dropdown-content-list hr
{
    width: 100%;
    border: 0.5px solid #efefef;
    margin: 0;
    padding: 0;
}

#header-dropdown-concerns .header-dropdown-content-list li:first-child
{
    padding: 5px 5px 5px 10px;
    margin: 0;
    font-family: Gotham Black;
    font-size: 0.75em;
    color: #000000;
}

#header-dropdown-concerns .header-dropdown-content-list li:not(:first-child):not(:last-child)
{
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
}

#header-dropdown-concerns .header-dropdown-content-list li:not(:first-child):not(:last-child):hover
{
//background-color: #00e08e;
    color: #ffffff;
}

#header-dropdown-concerns .header-dropdown-content-list li:not(:nth-child(1)) p
{
    padding: 0 0 5px 10px;
    margin: 0;
}

.dropdown-concerns-header
{
    float: left;
    font-family: Open Sans;
    font-size: 1em;
    font-weight: bold;
    color: #000000;
}

.dropdown-concerns-time
{
    float: right;
    font-family: Open Sans;
    font-size: 0.90em;
    color: #999999;
}

.dropdown-concerns-content
{
    float: left;
    font-family: Open Sans;
    font-size: 0.90em;
    color: #000000;
    text-align: justify;
}

#header-dropdown-concerns .header-dropdown-content-list li:last-child
{
    font-family: Open Sans;
    font-size: 0.75em;
//font-weight: bold;
    color: #00e08e;
    float: right;
    margin-right: 10px;
}

#header-dropdown-concerns .header-dropdown-content-list li:last-child:hover
{
    text-decoration: underline;
}

.concerns-dropdown-unmarked
{
    background-color: #dedede;
}

.shorten-toggle
{
    color: #00e08e;
}