#workspace-menu
{
    grid-row: 2;
    grid-column: 1;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

#menu-container
{
    grid-row: 2;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding-top: 5%;
    padding-left: 22.5%;
}

/* Box Seen in UI */
#menu-box
{
    position: sticky;
    top: 0;
    margin: 0 auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 15px;
}

#menu-current-term
{
    font-size: 1.15em;
}

/* Menu Section */
.menu-subset-list
{
    padding: 0;
}

.menu-subset-list li
{
    list-style-type: none;
    font-family: OpenSans-Regular;
    font-size: 0.95em;
    font-weight: 600;
    color: #2b2b2b;
    width: 70%;
    margin-left: 20%;
    padding: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

.menu-subset-list a
{
    color: #2b2b2b;
    text-decoration: none;
}

.menu-subset-list a li:not(.menu-subset-list-header):hover
{
    background-color: #00ba72;
    color: #ffffff;
}

.menu-subset-list a li.menu-selected-page
{
    font-weight: 700;
    color: #00ba72;
}

.menu-subset-list li.menu-subset-list-header
{
    font-size: 0.90em;
    font-weight: 900;
    color: #2b2b2b;
    cursor: text;
}

.menu-subset-list a li.menu-subset-list-item
{
    margin-left: 3em;
    width: 75%;
}