/*** Faculty Assignment ***/
#faculty-assign-table
{
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
    border-collapse: collapse;
    border: 2px solid #999999;
}

#faculty-assign-table tr
{
    height: 180px;
}

#faculty-assign-table td
{
    width: 180px;
    border: 2px solid #999999;
    cursor: pointer;
}

.faculty-assign-img
{
    position: relative;
    top: 15;
    left: 50;
    width: 80px;
    height: 80px;
    display: block;
}

.faculty-assign-name
{
    margin-top: 25px;
    font-family: Gotham Black;
    font-size: 0.75em;
    text-align: center;
}

.faculty-assign-details
{
    margin-top: -10px;
    font-family: Open Sans;
    font-size: 0.75em;
    text-align: center;
}

/*** Concerns ***/
#concerns-table
{
    margin: 0 auto;
    margin-top: 25px;
    border-collapse: collapse;
    border: 2px solid #999999;
    width: 500px;
    height: auto;
}

#concerns-table td
{
    border: 2px solid #999999;
    height: 125px;
    padding: 10px;
}

#concerns-table .concerns-course-header
{
    font-family: Gotham Black;
    font-size: 1.1em;
    //text-indent: 8px;
}

#concerns-table .concerns-sender-details
{
    font-family: Open Sans;
    font-size: 0.80em;
    color: #666666;
    //text-indent: 8px;
    margin-top: -18px;
}

#concerns-table .concerns-sender-body
{
    font-family: Open Sans;
    font-size: 0.85em;
    width: 100%;
    //margin-left: 8px;
}