#recent-changes-container
{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding-top: 5%;
    padding-right: 15%;
}

#recent-changes-box
{
    box-sizing: border-box;
    margin: 0 auto;
    height: auto;
    width: 100%;
    background: #ffffff;  
    padding-top: 10px;
    padding-bottom: 15px;
}

#recent-changes-header-border
{
    width: 90%;
}

/* General Recent Changes Row */
.recent-changes-row, .recent-changes-row-details
{
    margin: 0;
}

.recent-changes-row > li
{
    list-style-type: none;
    display: inline;
    float: left;
    padding-bottom: 6.5px;
    font-family: OpenSans-Regular;
    font-size: 0.80em;
    color: #000000;
}

.recent-changes-user-colors
{
    display: inline;
    float: left;
    padding: 0;
    margin-top: 7.5px;
    height: 40px;
    width: 40px;
    background: blue;
    border-radius: 50%;
}

.recent-changes-row > li:nth-child(1) {width: 7.5%;}

.recent-changes-row-details > li
{
    list-style-type: none;
    padding-bottom: 2px;
    font-family: OpenSans-Regular;
    font-size: 0.95em;
    color: #000000;
}

.recent-changes-row-details > li:nth-child(1) { font-family: Gotham-Black; font-size: 0.95em; }
.recent-changes-row-details > li:nth-child(2) { font-weight: 0; }
.recent-changes-row-details > li:nth-child(3) {  }

.recent-changes-row-border
{
    border: 1px solid #efefef;
    width: 90%;   
}

#rev-history-link
{
    font-family: Gotham-Black;
    font-size: 0.80em;
    color: #00a864;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}